/* .page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}

.page-break-before {
    page-break-before: always;
    page-break-inside: avoid;
    clear: both;
} */

body {
    background-color: whitesmoke;
}

#printingArea{
    background: whitesmoke;
}

@media print{
    .noprint{
        display:none;
    }
 }

canvas{
    responsive:true;
    responsiveAnimationDuration:500;
    maintainAspectRatio:true;
    aspectRatio:1;
}

div.twoColCanvasCircle{
    position: relative;
    height:48vh;
    width: 48vw;
    margin-top: 5vh;
}

div.twoColCanvas{
    position: relative;
    height:50vh;
    width: 50vw;
    margin-top: 5vh;
}

div.oneColCanvas{
    position: relative;
    height:80vh;
    width: 80vw;
    margin-top: 5vh;
}

table.skeleton {
    border-collapse: collapse;
    border-spacing: 0px;
}

td.text {
    height: 20vh;
    width: 20vw;
}

p.centerParaGraph{
    text-align:left;
    vertical-align: top;
    font-size: 25px;
    color:#0099cc;
    margin: 10%;
}
  
.material th, td {
    text-align: left;
    padding: 0px;
  }

/* .material table {
    border-collapse: collapse;
    width: 100%;
  } */

/* .material tr:nth-child(even) {
    background-color: #f2f2f2;
} */