/* .page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}

.page-break-before {
    page-break-before: always;
    page-break-inside: avoid;
    clear: both;
} */

body {
    background-color: whitesmoke;
}

#printingArea{
    background: whitesmoke;
}

@media print{
    .noprint{
        display:none;
    }
 }

canvas{
    responsive:true;
    responsiveAnimationDuration:500;
    maintainAspectRatio:true;
    aspectRatio:1;
}

table.skeleton {
    height: 98vh;
    width: 98vw;
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    text-align: center; 
    vertical-align: top;
}

p.centerParaGraph{
    text-align:center;
    vertical-align: top;
    font-size: 25px;
    color:rgb(19, 233, 204);
    margin: 2%;
}

/* .material table {
    border-collapse: collapse;
    width: 100%;
  } */
  
.material th, td {
    text-align: left;
    padding: 0px;
  }
  
/* .material tr:nth-child(even) {
    background-color: #f2f2f2;
} */